@using websites.model1;
<header class="masthead" style="background-image: url('/Public/img/@ViewBag.About.Image')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>@ViewBag.About.Title</h1>
                    <span class="subheading">@ViewBag.About.Description</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @Html.Raw(ViewBag.About.Text)
        </div>
    </div>
</div>

<hr>
